* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-weight: normal;
  box-sizing: border-box;
  outline: 0;
}

hr {
  border: 0;
  border-bottom: solid 1px #eee;
  margin: 10px 0;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

html,
body,
#app {
  height: 100%;
}

body {
  color: $gray-dark;
  background: $gray-lightest;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  color: $gray-dark;
}

h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}

h3 {
  font-size: 13px;
  color: $gray-dark;
  text-transform: uppercase;
  margin-bottom: 20px;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

ol {
  margin-left: 18px;
  margin-bottom: 20px;
}

li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 14px;
}

pre {
  padding: 20px;
  background: $gray-lightest;
  border-radius: 2px;
  border: solid $gray-light 1px;
  overflow-x: scroll;
  font-family: 'Monaco', 'Courier New', 'Courier', monospace;
  line-height: 24px;
  font-size: 15px;
}

button {
  border: 0;
  background: none;
  color: $primary;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &[disabled] {
    cursor: wait;
  }
}
