.container {
  width: 100%;

  &--app {
    display: flex;
  }

  &--temp {
    padding: 0 40px 20px;
  }

  &__child--main {
    padding: 20px 40px;
    width: 100%;
  }

  &__child--toolbar {
    flex: 0 0 200px;
    background: #f9f9f9;
    padding: 20px;
  }
}
