.flex-container {
  display: flex;
}

.flex-container--margin-bottom {
  margin-bottom: 20px;
}

.flex-container--center {
  justify-content: center;
}

.flex-container--align-center {
  align-items: center;
}

.flex-container--wrap {
  flex-wrap: wrap;
}

.flex-child--full-width {
  width: 100%;
}
