.image-uploader__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.image-uploader__label {
  color: $primary;
  cursor: pointer;
  font-size: 14px;
}
