.input--text,
.textarea {
  display: block;
  padding: 10px;
  border: solid $gray-light 1px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  color: $gray-dark;
  max-width: 500px;
}

.input--file {
  font-size: 14px;
}

.input--radio {
  margin-right: 5px;
}

.input--checkbox {
  margin-right: 7px;
  margin-top: 5px;
  width: 15px;
}

.input--large {
  padding: 18px;
  font-size: 20px;
}
