.section {
  background: $white;
  padding: 15px 20px;
  border: solid 1px $gray-light;
  border-radius: 2px;

  &--padded {
    padding: 30px;
  }

  &--full-height {
    max-height: 100%;
    overflow-y: scroll;
  }

  &--full-height-no-scroll {
    max-height: 100%;
    overflow-y: hidden;
  }

  &__tab-link {
    font-size: 13px;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0 2px 0 lighten($primary, 20%);
      text-decoration: none;
    }

    &.active {
      box-shadow: 0 2px 0 lighten($primary, 20%);
    }
  }
}
