.section {
  background: $white;
  padding: 15px 20px;
  border: solid 1px $gray-light;
  border-radius: 2px;
  overflow-y: auto;
  // Use max-height instead of height so
  // the panel will not fill vertical space
  // if its not needed. This would result
  // in empty white space.
  max-height: 100%;

  &--padded {
    padding: 30px;
  }

  &__tab-link {
    font-size: 13px;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0 2px 0 lighten($primary, 20%);
      text-decoration: none;
    }

    &.active {
      box-shadow: 0 2px 0 lighten($primary, 20%);
    }
  }
}
