.section {
  background: $white;
  padding: 15px 20px;
  border: solid 1px $gray-light;
  border-radius: 2px;

  &--padded {
    padding: 30px;
  }

  &--full-height {
    max-height: 100%;
    overflow-y: scroll;
  }
}
