.setting-group {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &:nth-child(even) {
      background: $gray-lightest;
    }
  }

  &__title {
    font-size: 18px;
    border-bottom: solid $gray-light 2px;
    padding-bottom: 5px;
  }

  &__body {
    font-size: 14px;
  }

  .input--text {
    padding: 5px 8px;
    font-size: 14px;
    width: 70px;
  }
}
