.slider-preview {
  padding: 0 20px;
  width: 800px;
  position: relative;
  margin: 0 auto;

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    text-align: center;
    z-index: 99;
  }
}

.slider-preview__placeholder {
  padding: 50px;
  border: dashed $primary-border-width $gray-light;
  text-align: center;
  background: $white;
  font-size: 16px;
}
