.slides {
  height: 100%;

  &__empty {
    padding: 50px 20px;
    border: dashed $primary-border-width $gray-light;
    text-align: center;
    background: $white;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
