.slide-item {
  border: solid $primary-border-width $gray-light;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  &__controls {
    display: flex;
    align-items: center;
  }

  &__control {
    margin-left: 5px;
  }

  &__control--edit {
    width: 18px;
    height: 18px;
    background: url('../svg/icon-gear.svg') no-repeat;
    background-size: contain;
    display: block;
    margin-right: 10px;
  }

  &__control--move {
    width: 18px;
    height: 18px;
    background: url('../svg/icon-drag.svg') no-repeat;
    background-size: contain;
    display: block;
  }

  &__preview {
    width: 70px;
    height: 70px;
    background-size: cover;
  }

  &__handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &__edit-image {
    position: relative;

    .image-uploader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($white, .90);
    }
  }
}
