.user-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;

  &__account {
    display: flex;
    align-items: center;
  }

  &__avatar {
    border-radius: 50px;
    margin-right: 5px;
  }

  &__row {
    margin-right: 10px;
  }

  &__email {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__brand {
    display: flex;
    align-items: center;
  }

  &__brand-logo {
    background: url('../svg/icon-star.svg') center center no-repeat lighten($primary, 23%);
    background-size: 24px;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    margin-right: 7px;
  }

  &__brand-name {
    font-size: 18px;
  }
}
