// Colors
$primary: #8687c5;
$secondary: #1ac81a;
$white: #fff;
$black: #333;
$purple: #a239a2;
$gray-dark: #666;
$gray-medium: #999;
$gray-light: #ddd;
$gray-lightest: #f5f5f5;

// Borders
$primary-border-width: 1px;

// Layout
$header-height: 50px;
$header-temp-height: 78px;
$sub-header-height: 33px;
$section-header-height: 24px;
$save-settings-height: 40px;
