$purple: #a239a2;
$gray-dark: #666;

* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
  outline: 0;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

input,
textarea {
  display: block;
  padding: 10px;
  border: solid #ccc 1px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  color: #fff;
  padding: 10px 16px;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 10px;

  &[disabled] {
    cursor: wait;
  }
}

.button--large {
  font-size: 16px;
}

.button--small {
  font-size: 14px;
  padding: 6px 10px;
}

.button--gray {
  background: $gray-dark;
}

.button--purple {
  background: $purple;
}

.button--full-width {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 20px auto;
}

.slider__layout {
  display: flex;
  justify-content: space-between;
}

.slider__layout-child {
  width: 100%;
}

.slider__slides {
  flex: 0 0 300px;
  margin-right: 50px;
}

.slider-preview {
  padding: 0 20px;
}

.slide-item {
  border: solid #ddd 1px;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;

  &--showing {
    display: flex;
    justify-content: space-between;
  }
}

.slide-item__preview {
  width: 70px;
  height: 70px;
  background-size: cover;
}

.slide-item__handle {
  cursor: move;
}
