@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

@import 'variables';
@import 'button';
@import 'form';
@import 'input';
@import 'label';
@import 'error';
@import 'user-toolbar';
@import 'container';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
  outline: 0;
}

hr {
  border: 0;
  border-bottom: solid 1px #eee;
  margin: 10px 0;
}

body {
  color: $gray-dark;

  &.ReactModal__Body--open {
    overflow: hidden;
  }
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  color: $gray-dark;
}

h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
  color: $gray-dark;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

pre {
  padding: 20px;
  background: #f9f9f9;
  margin-bottom: 20px;
}

code {
  font-family: 'Monaco';
  line-height: 24px;
  font-size: 15px;
}

.slider__layout {
  display: flex;
  justify-content: space-between;
}

.slider__layout-child--full-width {
  width: 100%;
}

.slider__layout--margin-bottom {
  margin-bottom: 20px;
}

.slider__slides {
  width: 300px;
  flex: 0 0 300px;
  margin-right: 50px;
}

.slider-new {
  width: 500px;
  margin: 40px auto 0;
  text-align: center;
}

.slider-preview {
  padding: 0 20px;
  width: 700px;
  position: relative;

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    text-align: center;
    z-index: 99;
  }
}

.slider-preview__placeholder {
  padding: 50px;
  border: dashed $primary-border-width $gray-light;
  text-align: center;
}

.slide-item {
  border: solid $primary-border-width $gray-light;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 2px;

  &--showing {
    display: flex;
    justify-content: space-between;
  }
}

.slide-item__preview {
  width: 70px;
  height: 70px;
  background-size: cover;
  margin-right: 10px;
}

.slide-item__content {
  display: flex;
  margin-bottom: 10px;
}

.slide-item__handle {
  cursor: move;
}


.slider-code__callout {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 10px;
}
