{
    "env": {
        "browser": true,
        "es6": true
    },

    "plugins": [
        "react"
    ],

    "globals": {
      "process": true
    },

    "extends": ["eslint:recommended", "plugin:react/recommended"],

    "parserOptions": {
        "sourceType": "module",
    }
}
